.concept {
  padding-top: 114px;
  padding-bottom: 92px;
  margin: 0 auto;
  background: linear-gradient(180deg, #fff 0%, #fff 68%, #ededed 68%, #ededed 100%);
  @include mq(sm) {
    background: linear-gradient(180deg, #fff 0%, #fff 83%, #ededed 83%, #ededed 100%);
    padding-bottom: 45px;
  }

  .concept_img {
    margin-top: 60px;
  }
}